<div class="row-content row">
    <div class="col-md-12 outer-box">
      <mat-card>
        <mat-card-title>Pie Chart
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content><br>
          <div class="row chartView">

            <div class="col-md-6 mb-5">
              <div class=" item-card pointer p-3">
                <h5>Pie Chart</h5>
                <div echarts  [options]="optionPie" style="height: 350px;"></div>
              </div>
            </div>
  
            <div class="col-md-6 mb-5">
              <div class=" item-card pointer p-3">
                <h5>Doughnut Chart</h5>
                <div echarts  [options]="optionDpie" style="height: 350px;"></div>
              </div>
            </div>        
    
            <div class="col-md-6 ">
              <div class=" item-card pointer p-3">
                <h5>Customized Chart</h5>
                <div echarts [options]="options3"  class="demo-chart" style="height: 350px;"></div>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class=" item-card pointer p-3">
                <h5>Customized Chart</h5>
                <div echarts [options]="optionCustomizedPie" style="height: 350px;"></div>  
                        </div>
            </div>
          </div>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>