.demo-chart {
    height: 300px;
  }
  .item-card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    // box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
      -webkit-box-shadow:0 3px 7px 0 #a8a8a8;
      box-shadow: 0 3px 7px 0 #a8a8a8;
  }
  .item-card {
      display: block;
      text-decoration: none;
      transition: all 0.2s;
      -webkit-box-shadow:0 3px 7px 0 #a8a8a8;
      box-shadow: 0 3px 7px 0 #a8a8a8;
  }

  .card-counter {
    // box-shadow: 2px 2px 10px #DADADA;
    padding: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    -webkit-box-shadow:4px 4px 15px #dadada !important;
    box-shadow: 4px 4px 15px #dadada !important;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.mat-card-title {
    font-size: 18px;
    font-weight: 700;
}

.card-counter.warning {
    background-color: #ffc107 !important;
    color: #FFF;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}

// .card-counter i {
//     /* position: absolute;
// font-size: 5em !important; */
//     opacity: 0.8;
//     /* right: 35px; */
//     border-radius: 50%;
//     height: 65px;
//     width: 65px;
//     line-height: 5.5;
//     text-align: center;
//     /* top: 35px; */
//     background: #fff;
//     opacity: 0.9;
//     display: block;
// }

.card-counter .count-numbers {
    /* position: absolute;
right: 35px;
top: 50px; */
    font-size: 25px;
    display: block;
    font-weight: 700;
}

.card-counter .count-name {
    /* position: absolute;
right: 35px;
top:90px; */
    /* font-style: italic; */
    text-transform: capitalize;
    opacity: 0.9;
    display: block;
    font-size: 14px;
    color: #999 !important;
    font-weight: 500;
}

.text-white {
    color: #fff;
}


tr.example-element-row:not(.example-expanded-row):hover {
    background: #ddd;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    text-align: left;
  }
  
  tr.example-detail-row{
    height: 0;
}
  .example-element-detail table{
    padding: 10px  10px 15px !important;
  
  }
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  