<mat-toolbar color="primary" class="">
  <mat-toolbar-row class="px-auto mat-toolbar-row">
    <!-- <button mat-icon-button class="ml-0">
    </button> -->
    <span> Sunoida Solutions </span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-accordion class="">
  <mat-nav-list class="pt-0 scroll-y">
    <mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon class="icon-img">dashboard</mat-icon> Dashboard
    </mat-list-item>
    <mat-list-item routerLink="/dashboard">
      <mat-icon class="icon-img">people_outline</mat-icon> Inventory
    </mat-list-item>
    <mat-list-item routerLink="/dashboard">
      <mat-icon class="icon-img">people_outline</mat-icon> Orders
    </mat-list-item>
    <mat-list-item routerLink="/dashboard">
      <mat-icon class="icon-img">people_outline</mat-icon> Customers
    </mat-list-item>
    <mat-list-item routerLink="/dashboard">
      <mat-icon class="icon-img">report</mat-icon> Reports
    </mat-list-item>

  </mat-nav-list>
</mat-accordion>